<div ng-controller="CoverLettersController">
  <h2>{{page_title}}</h2>
  <h3>Previous cover letters</h3>
  <ul>
    <% current_user.cover_letters.all.each do |letter| %>
      <li> To <%= link_to letter.addressee, cover_letter_url(letter) %> from <%= letter.your_name %></li>
    <% end %>
  </ul>

  <%= link_to "Create cover letter", new_cover_letter_url %>

  <h3> You have skills in: </h3>

  <ul>
    <% current_user.skills.non_experiences.all.each do |skill| %>
      <li> <%= link_to skill.name, skill_url(skill) %></li>
    <% end %>
  </ul>


  <h3> You have experience with: </h3>

  <ul>
    <% current_user.skills.experiences.all.each do |skill| %>
      <li> <%= link_to skill.name, skill_url(skill) %></li>
    <% end %>
  </ul>


  <%= link_to "Create skill", new_skill_url %>
</div>
