<div ng-controller="CoverLettersController">
  <h2>New Cover letter</h2>

  <h3> Your skills </h3>
  <ul>
    <% current_user.skills.each do |skill| %>
      <li>
        <%= label_tag skill.id, skill.name %>
        <%= check_box_tag skill.id, skill.name, false, 'ng-model' => "skills[#{skill.name.to_json}]", 'ng-change' => 'update_letter()' %>
      </li>
    <% end %>
  </ul>
  <% if current_user.skills.empty? %>
    <p> You don't seem to have any skills. That won't look good to employers! Why not learn some stuff? </p>
  <% end %>

  <%= link_to "Create skill", new_skill_url, :target => '_blank'%>


  <h3> Generated cover letter </h3>
  <%= form_for CoverLetter.new(user: current_user) do |form| %>
    <fieldset>
      <div>
        <%= form.label :addressee, "Who is this letter addressed to?" %>
        <%= form.text_field :addressee %>
      </div>
      <div>
        <%= form.label :first_paragraph %>
        <%= form.text_area :first_paragraph %>
      </div>
      <div>
        <%= form.label :second_paragraph %>
        <%= form.text_area :second_paragraph, :value => "{{skills_text}}" %>
      </div>
      <div>
        <%= form.label :third_paragraph %>
        <%= form.text_area :third_paragraph %>
      </div>
      <div>
        <%= form.label :fourth_paragraph %>
        <%= form.text_area :fourth_paragraph %>
      </div>
      <div>
        <%= form.label :your_name %>
        <%= form.text_field :your_name %>
      </div>
    </fieldet>

    <fieldset>
      <%= form.submit %>
    </fieldset>
  <% end %>
</div>
