<h2>Show cover letter</h2>

<p>
  Dear <strong><%= @cover_letter.addressee_or_generic %></strong>,
</p>

<% @cover_letter.filled_paragraphs.each do |paragraph| %>
  <p><strong><%= paragraph %></strong></p>
<% end %>

<p>
  Yours <strong><%= @cover_letter.signature %></strong>,
</p>

<p>
  <strong><%= @cover_letter.your_name %></strong>
</p>
