<div ng-controller="CoverLettersController">
  <h2>New Skill</h2>

  <%= form_for Skill.new(user: current_user) do |form| %>
    <fieldset>
      <div>
        <%= form.label :name, "What is the skill, e.g. 'Eating cake', 'Corporate cake consumption'" %>
        <%= form.text_field :name, :placeholder => 'eating cake', 'ng-model' => 'given_skill' %>
      </div>
      <div>
        <%= form.label :previous_experience, "{{skill_type}} {{given_skill}} (toggle checkbox to switch between skills / experiences)" %>
        <%= form.check_box :previous_experience, 'ng-model' => 'skill_type', 'ng-false-value' => 'I am skilled in' , 'ng-true-value' => 'I have experience with'%>
      </div>
    </fieldet>

    <fieldset>
      <%= form.submit %>
    </fieldset>
  <% end %>
</div>
