/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 60px 20px 10px;
  background-color: #FFFFFA;
}

@mixin rotate($rotation) {
  -webkit-transform: rotate($rotation);
}

header {
  background-color: #001;
  color: #fff;
  a, a:active, a:visited {
    color: #fff;
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  padding: 10px 20px;
  position: absolute;
  top: -20px;
  left: -10px;
  width: 100%;
  @include rotate(-1deg);
}


label {
  display: block;
}

textarea, input[type=text] {
  width: 700px;
  max-width: 80%;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  font-size: 1.2em;
}

textarea {
  height: 150px;
}
