<!DOCTYPE html>
<html ng-app>
<head>
  <title>Coverletter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= link_to "Home", root_url %>
    <%= link_to "Logout", destroy_user_session_url, :method => :delete %>
  </header>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
